body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #02aed0;
    padding: 10px 0;
}

.nav-hd {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
    height: auto;
}

.social-nav {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.social-nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 24px;
    transition: transform 0.3s;
}

.social-nav a:hover {
    transform: scale(1.2);
}

.socialLogo {
    width: 36px;
    height: auto;
    margin-left: 20px;
}

.gallery {
    padding: 20px;
    margin: 20px auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    background-image: url(https://i.pinimg.com/originals/18/fc/8e/18fc8eb5ce14b12f8644c1afc2f6c029.jpg);
    background-size: cover; /* Ajusta el tamaño de la imagen para que cubra todo el fondo */
    background-repeat: repeat; /* Repetir la imagen en caso de que la galería sea más grande que la imagen de fondo */
}

.gallery h1 {
    text-align: center;
    margin-bottom: auto;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: block;
    cursor: pointer;
}

.gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Modal CSS */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.modal-content, .caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.footer-copyright {
    margin-bottom: 10px;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    display: inline-block;
    margin-right: 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}